/* Author: Logan Stoltz */

#about {
    background-color: green;
    height: 100vh; 
}

/*h2 {}*/

.about-me-page-container {
    background-color: teal;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: calc(100vw - 15px);
    padding-top: 120px;
}

.about-me-section {
    background-color: rgb(2, 0, 128);
    height: calc(100vh - 197px);
    width: 50vw;
}

.about-me-text-box {
    background-color: rgb(126, 128, 0);
    height: calc(50vh - 98.5px);
    width: calc(50vw - 8px);
    
}

.about-me-text {}

.about-me-icon {
    background-color: rgb(255, 77, 77);
    height: calc(50vh - 98.5px);
    width: calc(50vw - 8px);
}



.languages-and-tools-section {
    background-color: rgb(113, 0, 128);
    height: calc(100vh - 197px);
    width: 50vw;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 80px;
}

.languages-and-tools-boxes {
    margin: 10px;
    background-color: orange;
}

.languages-and-tools-text {}