/* Author: Logan Stoltz */

#about {
    height: 100vh; 
}

/*h2 {}*/

.about-me-page-container {
    background-color: rgba(0, 128, 128, 0.377);
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: calc(100vw - 15px);
    padding-top: 120px;
}

.about-me-section {
    background-color: rgba(2, 0, 128, 0.274);
    height: calc(100vh - 197px);
    width: 50vw;
}

.about-me-text-box {
    background-color: rgba(126, 128, 0, 0.356);
    height: calc(50vh - 98.5px);
    width: calc(50vw - 8px);
    
}

.about-me-text {}

.about-me-icon {
    background-color: rgba(255, 77, 77, 0.288);
    height: calc(50vh - 98.5px);
    width: calc(50vw - 8px);
}



.languages-and-tools-section {
    background-color: rgba(113, 0, 128, 0.192);
    height: calc(100vh - 197px);
    width: 50vw;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 80px;
}

.languages-and-tools-boxes {
    margin: 10px;
    background-color: rgba(255, 166, 0, 0.342);
}

.languages-and-tools-text {}