/* Author: Logan Stoltz */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-bg-color: #34495E;
  --header-title-color: #E74C3C;
  --header-text-color: #ECF0F1;
  --highlight-color: #E74C3C;
  --link-bg-color: #ECF0F1;
  --link-bg-color-hover: #e74d3c;
  --bg1: #ECF0F1;
  --bg2: #8095a3;
  --footer-bg-color: #34495E;
  --footer-text-color: #ECF0F1;
  --scrollbar-bg: #34495E;
  --scrollbar-thumb: #E74C3C;
  --accent-red-color: #e76d3c;

  --header-height: 70px;
  --footer-height: 30px;
  --container-text-color: #2C3E50;
  --text-color-light: #ffffff;
  --container-bg-color: #ffffff;
  --container-title-color: #C55C00;
  --container-text-bg: #fff;
}

.App {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--body-text-color);
  margin: 0;
}

main {
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  scroll-margin-top: var(--header-height); /* Offset anchor scroll for the header */
}

.section-header {
  position: relative;
  top: 8%;
  color: var(--header-text-color);
  text-align: center;
  font-size: 64px;
  width: 100%;
  background-color: blue;
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ===== START SCROLLBAR CSS ===== */
    /* I Used an online tool to help create the scrollbar */
    /*  Source: https://codepen.io/stephenpaton-tech/full/JjRvGmY */

    /* Firefox */
    * {
        scrollbar-width: auto;
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 16px;
    }

    *::-webkit-scrollbar-track {
        background: var(--scrollbar-bg);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        border-radius: 10px;
        border: 4px solid #ffffff;
    }
/* ===== END SCROLLBAR CSS ===== */