/* Author: Logan Stoltz */

#classes { 
    background-color: var(--bg1);
    scroll-padding-top: 1000px;
}

.section-header-classes {
    position: relative;
    top: 100vh;
    background-color: var(--header-title-color);
    color: var(--header-text-color);
    text-align: center;
    width: 100%;
}

/* classes Container */
.classes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    height: calc(100vh - 50px);
    width: 300%;
}

/* Container for Class Pages */
.class-page {
    flex: 0 0 100%;
    display: grid;
    gap: 1vh 1vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
    height: calc(100vh - 135px);
    transition: transform 0.5s ease-in-out;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
}

/* Individual Class Box */
.class-box {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    padding: 0px;
}

.class-box:hover {
    transform: scale(1.025);
}

/* Class Details */
.class-details {
    color: var(--container-text-color, #2C3E50);
}

.class-details h3 {
    color: var(--header-title-color);
    font-size: calc(0.4em + 0.5vw);
    text-decoration: none;
    width: 100%;
}

.class-details h4 {
    color: rgba(0, 0, 0, 0.473);
    font-size: calc(0.1em + 0.5vw);
    text-decoration: none;
    width: 100%;
}

.class-details p {
    font-size: calc(0.15em + 0.5vw);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
}

/* Link to class description */
.class-box a {
    color: inherit;
    text-decoration: none;
    margin-top: auto;
    font-weight: bold;
    color: var(--highlight-color);
    transition: color 0.3s;
    
}

.class-box a:hover {
    color: var(--header-text-color);
}

/* Scroll Buttons */
.scroll-button {
    position: relative;
    top: 145%;
    transform: translateY(-50%);
    background-color: var(--header-title-color);
    border: none;
    color: var(--header-text-color);
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

/* Positioning buttons */
.left-button {
    left: 10px; 
}

.right-button {
    right: 10px; 
}

.left-button:hover, .right-button:hover {
    background-color: #bb3e30;
}
/* ===== END CLASSESS SECTION CSS ===== */