/* Author: Logan Stoltz */

#classes { 
    background-color: green;/*var(--bg1);*/
    height: calc(100vh - var(--header-height));
    scroll-margin-top: var(--header-height);
}

/* classes Container */
.classes-container {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 197px);
    width: calc(100vw - 15px);
    overflow-x: hidden;
    background-color: #bb3e30;
}

/* Container for Class Pages */
.class-page {
    flex: 0 0 100%;
    display: grid;
    gap: 1vh 1vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
    height: calc(100vh - 220px);
    transition: transform 0.5s ease-in-out;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 62px;
    
}

/* Individual Class Box */
.class-box {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    padding: 0px;
    background-color: lightcyan;
    padding: 10px;
    border-radius: 5px;
}

.class-box:hover {
    transform: scale(1.025);
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.24);
}

/* Class Details */
.class-details {
    color: var(--container-text-color, #2C3E50);
}

.class-details h3 {
    color: var(--header-title-color);
    font-size: x-large;
    text-decoration: none;
    width: 100%;
}

.class-details h4 {
    color: rgba(0, 0, 0, 0.473);
    font-size: medium;
    text-decoration: none;
    width: 100%;
}

.class-details p {
    font-size: calc(0.15em + 0.5vw);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
}

/* Link to class description */
.class-box a {
    color: inherit;
    text-decoration: none;
    margin-top: auto;
    font-weight: bold;
    color: var(--highlight-color);
    transition: color 0.3s;
    
}

.class-box a:hover {
    color: var(--header-text-color);
}

/* Scroll Buttons */
.scroll-button {
    position: relative;
    top: 48%;
    background-color: var(--header-title-color);
    border: none;
    color: var(--header-text-color);
    border-radius: 4px;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

/* Positioning buttons */
.left-button {
    left: -47.5%;
}

.right-button {
    right: -47.5%;  
}

.left-button:hover, .right-button:hover {
    background-color: #bb3e30;
}
/* ===== END CLASSESS SECTION CSS ===== */