/* Author: Logan Stoltz */

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--header-bg-color);
    backdrop-filter: blur(10px);
    color: var(--header-text-color);
    height: var(--header-height);
    z-index: 999;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.7);
}

/* Navigation styles */
.nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: sticky;
}

.navlinks a {
    color: var(--header-text-color);
    text-decoration: none;
    font-size: x-large;
    padding: 25px 40px;
    transition: background-color 0.3s, color 0.3s;
}

.navlinks a:hover {
    color: var(--highlight-color);
}

.navlinks/*,
.externallinks*/ {
    list-style: none;
    display: flex;
    margin: 0;
}
/*.externallinks
{
    padding-right: 40px;
}

/* External link styles * /
.externallinks a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: var(--link-bg-color);
    color: var(--header-bg-color);
    border-radius: 50%;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.externallinks a:hover {
    background-color: var(--link-bg-color-hover);
}

.externallinks li {
    margin-left: 10px;
}

.externallinks i {
    font-size: 24px;
    transform: translate(1%, 2%);
}*/
