/* /src/components/Home/Home.css */
#home { 
    background: url('My-Portfolio\vite-project\src\assets\Logan_Stoltz.pdf') no-repeat center center;
    background-size: cover; 
    margin-top: var(--header-height); 
}

.text-container-info { 
    position: absolute;
    top: 80vh; 
    left: 49.5vw; 
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2); 
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;
    width: 97vw; 
    height: 38vh; 
    overflow: hidden;
    line-height: 1.4;
}

.text-container-info h3 {
    margin-bottom: 5px;
    font-size: calc(0.6em + 0.6vw + 0.6vh);
}

.text-container-info p {
    margin-top: 10px;
    text-align: left;
    font-size: calc(0.35em + 0.4vw + 0.4vh);
}

.text-container-contact {
    position: absolute;
    top: 70px;
    left: 80vw;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 20px;
    text-align: center; 
    width: 350px; 
    height: fit-content;
    font-size: calc(0.3em + 0.3vw + 0.3vh);
}

.text-container-contact h3 {
    margin-bottom: 10px;
}

.text-container-contact p {
    margin: 5px 0;
    text-align: left;
}

.text-container-contact a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    transition: color 0.3s, border-bottom-color 0.3s;
}
