/* /src/components/Home/Home.css */
#home { 
    background: url('../assets/main.png') no-repeat center center;
    background-size: cover;
    margin-top: -50px;
}

.text-container-info {
    position: static;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 15px;
    justify-content: center;
    text-align: center;
    transform: translate(0.8vw, 59vh);
    width: 97.6vw; 
    height: 40vh; 
    overflow: hidden;
    line-height: 1.4;
}

.text-container-info h3 {
    margin-bottom: 5px;
    font-size: 30px;
}

.text-container-info p {
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
}

.text-container-contact {
    position: static;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 20px;
    text-align: center; 
    width: 350px; 
    height: 120px;
    font-size: 16px;
    transform: translate(80.2vw, -33vh);
    line-height: 1.4;
}

.text-container-contact h3 {
    margin-bottom: 10px;
}

.text-container-contact p {
    margin: 5px 0;
    text-align: left;
}

.text-container-contact a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    transition: color 0.3s, border-bottom-color 0.3s;
}
