/* Author: Logan Stoltz */

#home { 
    background: var(--bg1);
    background-size: cover;
    height: calc(100vh + var(--header-height));
}

/* ===== START HOME SECTION CSS ===== */
.text-container-info { 
    position: relative;
    top: 320px;
    color: white;
    text-align: center;
}

.text-container-info p {
    text-align: center;
    font-size: 60px;
}

.view-more {
    position: relative;
    top: 340px;
    text-align: center;
}

.view-more button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 4px solid #ff0000;
    border-radius: 3px;
    color: #ff0000;
    font-size: 20px;
    line-height: 28px;
    padding: 12px 20px;
    text-align: center;
    transition-duration: .15s;
}
.view-more button:hover{
    background: rgb(251, 193, 245);
}

/*.text-container-info p {
    margin-top: 10px;
    text-align: left;
    font-size: calc(0.35em + 0.4vw + 0.4vh);
}

.text-container-contact {
    position: absolute;
    top: 70px;
    left: 80vw;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 20px;
    text-align: center; 
    width: 350px; 
    height: fit-content;
    font-size: calc(0.3em + 0.3vw + 0.3vh);
}

.text-container-contact h3 {
    margin-bottom: 10px;
}

.text-container-contact p {
    margin: 5px 0;
    text-align: left;
}

.text-container-contact a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    transition: color 0.3s, border-bottom-color 0.3s;
}*/
/* ===== END HOME SECTION CSS ===== */