/* /src/components/Projects/Projects.css */
#projects {
    background-color: var(--bg2);
}

.section-header-projects {
    position: static;
    top: calc(100vh + 30px);
    background-color: var(--header-title-color);
    color: var(--header-text-color);
    text-align: center;
    width: 101%;
    height: 60px;
}

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    height: calc(100vh - 50px);
    width: 100vw;
}

.project-page {
    flex: 0 0 100%;
    display: grid;
    gap: 1vh 1vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
    height: calc(100vh - 135px);
    transition: transform 0.5s ease-in-out;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.project-box {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    padding: 0px;
}

.project-box:hover {
    transform: scale(1.03);
}

.project-title {
    text-align: center;
    font-size: calc(0.5em + 0.5vw + 0.5vh);
    color: #ffffff;
    padding: 5px;
}
