/* Author: Logan Stoltz */

#projects {
    background-color: var(--bg2);
}

.section-header-projects {
    position: absolute;
    top: calc(200vh - 50px);
    background-color: var(--header-title-color);
    color: var(--header-text-color);
    text-align: center;
    width: 100%;
    height: 60px;
    z-index: 1;
}

/* Projects Container */
.projects-container {
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    max-width: 100%;
    height: var(--project-container-height, auto);
    padding-top: 45px;
    box-sizing: border-box;
}

/* Individual Project Box */
.project-box {
    background-color: white;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    align-items: center;
    outline: var(--bg2) solid 3px;
    height: calc(84vh - 40px);
    transition: transform 0.3s ease;
    margin-top: 30px;
}

.project-box:hover {
    transform: scale(1.02);
}

/* Project Image */
.project-box img {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    object-fit: fill;
    opacity: 80%;
}

.project-box img:hover {
    opacity: 100%;
}

/* Project Details */
.project-details {
    flex: 1;
    text-align: center;
}

.project-details h3 {
    color: var(--header-title-color);
    font-size: calc(0.5em + 0.4vh + 0.4vw);
    background-color: #e74d3c17;
    padding-top: 5px;
    padding-bottom: 5px;
}

.project-details h4 {
    color: var(--container-text-color);
    font-size: calc(0.33em + 0.33vh + 0.33vw);
}

.project-details p {
    color: var(--container-text-color, #2C3E50);
    background-color: white;
    font-size: calc(0.26em + 0.26vh + 0.26vw);
    padding: 10px;
    text-align: left;
    height: 220px;  
}

.project-github-button {
    background-color: rgb(231, 231, 231);
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--scrollbar-thumb);
    width: 140px;
    margin: 15px;
    font-size: calc(0.35em + 0.35vh + 0.35vw);
    text-align: center;
    
}

.project-github-button:hover {
    background-color: var(--header-title-color);
    color: white;
}

/* Link to project */
.project-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
}
/* ===== END PROJECTS SECTION CSS ===== */