/* Author: Logan Stoltz */

#projects {
    background-color: var(--bg2);
}

.section-header-projects {
    position: absolute;
    top: calc(200vh - 50px);
    background-color: var(--header-title-color);
    color: var(--header-text-color);
    text-align: center;
    width: 100%;
    height: 60px;
    z-index: 1;
}

/* Projects Container */
.projects-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 20px 30px;
    max-width: 100%;
    height: calc(100vh - var(--header-height));
    padding-top: 45px;
    box-sizing: border-box;
    background-color: aqua;
}

/* Individual Project Box */
.project-box {
    background-color: white;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    align-items: center;
    outline: var(--bg2) solid 3px;
    height: calc(84vh - 40px);
    transition: transform 0.3s ease;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-box:hover {
    transform: scale(1.02);
}

/* Project Details */
.project-details {
    flex: 1;
    background-color: blueviolet;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.project-details h3 {
    color: var(--header-title-color);
    font-size: 34px;
    padding-top: 5px;
    text-decoration: underline;
    text-underline-offset: 10px;
    background-color: green;
}

.project-details h4 {
    color: var(--container-text-color);
    font-size: 18px;
    background-color: teal;
}

.project-details p {
    color: var(--container-text-color, #2C3E50);
    background-color: red;
    text-align: left; 
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60vh;
}

.project-buttons-section {
    display: flex;
    flex-direction: row;
    background-color: brown;
    width: 100%;
    gap: 0; /* Removes spacing between buttons */
    height: 100%; /* Ensures the section takes up all its container's height */
}

.project-button {
    flex: 1 1 0; /* Equal width for all items */
    align-items: center; /* Centers text inside buttons vertically */
    justify-content: center; /* Centers text inside buttons horizontally */
    background-color: rgb(231, 231, 231);
    border: 2px solid var(--header-title-color); /* Alternative to outline */
    font-size: calc(0.35em + 0.35vh + 0.35vw);
    height: 100%; /* Ensures buttons take up all the height of the section */
    text-align: center;
}

.project-button:hover {
    background-color: var(--header-title-color);
    color: white;
}

/* Link to project */
.project-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
}
/* ===== END PROJECTS SECTION CSS ===== */