/* /src/components/Resume/Resume.css */
#resume {
    background-color: var(--bg1);
    scroll-padding-top: 1000px;
    display: flex;
}

.section-header-resume {
    position: top;
    background-color: var(--header-title-color);
    color: var(--header-text-color);
    text-align: center;
    width: 100%;
    height: 60px;
}
